{% extends '../template.html' %}

    {% block title %}
        {{ title }}
    {% endblock %}
    
    {% block content %}
        <div class="container">
            <div class="TitleContainer">
                <h1>CAP - {{ title }}</h1>
            </div>
            <div class='BlogsContainer'>
                {% for post in posts  %}
                    <a href="{% url 'blog:post-detail' slug=post.slug %}" class='BlogCard' >
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.excerpt }}</p>
                    </a>
                {% endfor %}
            </div>

        </div>
    {% endblock %}